<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.hp.jetadvantage.link.permission.SERVICES_PERMISSION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:name=".CaletaSecurePrintApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:theme="@style/Theme.WorkpathSample"
        tools:targetApi="31">
        <activity
            android:name=".ui.auth.CaletaAuthenticationActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/title_activity_caleta_authentication"
            android:theme="@style/Theme.WorkpathSample" />
        <activity
            android:name=".ui.home.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.WorkpathSample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".task.services.AuthenticationAgentService"
            android:permission="com.hp.jetadvantage.link.permission.SERVICES_PERMISSION"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hp.jetadvantage.link.api.action.AUTHENTICATION" />
            </intent-filter>
        </service>

        <receiver android:name=".task.receiver.AccessoryReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hp.jetadvantage.link.action.ACCESSORY_READY" />
                <action android:name="com.hp.workpath.action.ACCESSORY_STATUS_ACTION"/>
                <action android:name="com.hp.workpath.action.ACCESSORY_REPORT_ACTION"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>